
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    background-color: #13131B;
    color: white;
    font-family: 'Space Mono', monospace;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4);
}
input {
    scale: 1.2;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4);
}
button {
    background: #557C99;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4);
}
button:hover {
    background: #375062;
    color: white;
    cursor: pointer;
}
section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}
nav {
    position: sticky;
    top: 0;
    padding: 10px 0;
    z-index: 1000;
}