
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
    background: #1e1e1e;
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Space Mono', monospace;
    align-items: center;
    height: 100vh;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.4);
    overflow: hidden;
}
.box {
    background: #2b2b2b;
    padding: 20px;
    border-radius: 10px;
    width: 320px;
    text-align: center;
}
input {
    scale: 1.2;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}
.iinput, button {
    padding: 8px;
    margin-top: 8px;
    border-radius: 8px;
    border: none;
}
button {
    background: #557C99;
    color: white;
    cursor: pointer;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    width: 25%;
}
button:hover {
    background: #375062;
    color: white;
    cursor: pointer;
    
}
canvas {
    margin-top: 15px;
}
.test{
  display: flex;
  justify-content: center;
  text-align: center;  
  font-size: 30px;
}
.test button{
  margin: 9px;
  padding: 10px;

}
section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}