body{
    background-color: black;
    color: white;
}
.test{
    display: flex;
    justify-content: center;
}

.lol{
  display: flex;
  background-color: DodgerBlue;
}
.lol div{
  background-color: #f1f1f1;
  color:#000;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 30px;

}
.lol button{
    transform: scale(3);
    border: none;
    border-radius: 5px;
    background-color: aqua;
    border: 2px solid red;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.lol button:hover{
    transform: scale(2);
}